<form class="form-horizontal " [formGroup]="formulario">
    <div class="row mt-4">

        <div class="col-sm-3 order-md-1 form-group">
            <div class="row">

                <div class="col form-group">
                    <label for="partidos" class="control-label">Partido</label>
                    <select class="form-control" id="partidos" formControlName="partido">
                       
                        <option *ngFor="let partido of partidos" [value]="partido.sigla">{{ partido.sigla }}
                        </option>
                    </select>
                </div>

            </div>
            <div class="row" *ngIf="partidoPreenchido()">

                <div class="col form-group" >
                    <label for="estados" class="control-label">Estado</label>
                    <select class="form-control" id="estados" formControlName="estado">
                        <option *ngFor="let estado of estados" [value]="estado.sigla">{{ estado.sigla }} - {{estado.nome }}
                        </option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col order-md-2">

            <div id="map" leaflet></div>
        </div>

        
    </div>

   
    
</form>    
    